@media (min-width: 1300px) {
  .menu {
    right: 2vw !important;
  }
}

@media (min-width: 2000px) {
  .custom-container {
    max-width: 1000px;
  }
  .left-sidebar h2 {
    font-size: 40px;
  }
  .copyright {
    font-size: 13px !important;
  }
  .menu {
    right: 150px !important;
  }
  .left-sidebar {
    /*left: 100px!important;*/
  }
}

@media (max-width: 2000px) {
  .left-sidebar {
    max-width: 400px;
  }
  /*.left-sidebar .sidebar-header {*/
  /*    margin-bottom: 30px;*/
  /*}*/
  /*.left-sidebar .social-profile {*/
  /*    margin: 30px 0px;*/
  /*}*/
  /*.left-sidebar .copyright {*/
  /*    margin-bottom: 15px;*/
  /*}*/

  /*.menu {*/
  /*    top: 50%;*/
  /*    transform: translateY(-50%);*/
  /*}*/
}

@media (max-width: 1555px) {
  .left-sidebar {
    max-width: 350px;
    padding: 30px;
  }
  .left-sidebar > img.me {
    width: 100%;
    /*max-width: 250px;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .left-sidebar .sidebar-header .designation {
    line-height: 1.4;
  }
}

@media (max-width: 1220px) {
  .copyright {
    text-align: left !important;
  }
  .services-items .service-item p {
    max-width: 76%;
  }
  .custom-container {
    max-width: 767px;
  }
  .content-width {
    max-width: 100%;
  }
  ::-webkit-scrollbar {
    width: 0.25rem; /* vertical scrollbar width */
  }
  /* .lsb-outer {
    display: none;
  } */
  .left-sidebar h2 {
    font-size: 64px;
  }
  .testimonial-area .testimonial-slider-wrap .testimonial-footer-nav {
    margin-top: 35px;
  }
  .lsb-outer {
    padding: 20px 0;
    padding-bottom: 60px;
  }
  .services-area {
    padding: 0 !important;
    /* padding-top: 90px; */
    /* padding-bottom: 90px; */
  }
  .custom-container {
    padding: 60px 30px;
    min-height: unset !important;
  }
  .services-area {
    /* padding-top: 150px; */
  }
  .services-items .service-item i {
    opacity: 1;
  }
  .facts {
    gap: 4vw !important;
  }

  .left-sidebar .social-profile {
    margin: 20px 0 0 0 !important;
  }

  .lsb-outer {
    margin: 0 30px;
  }

  .drake-main .left-sidebar {
    display: flex;
    position: relative;
    max-width: 767px;
    left: 0;
    margin: auto;
    top: 0;
    transform: translateY(0) translateX(0) !important;
    padding: 30px;
  }
  .left-sidebar-inner {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 20px;
    width: 600px;
  }
  .left-sidebar .theme-btn {
    width: 580px;
  }

  .left-sidebar-inner div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  .left-sidebar-inner h2 {
    font-size: 36px;
    margin-bottom: 0;
    text-align: left;
    align-items: flex-start;
  }

  .left-sidebar img.me {
    width: 40%;
    border-radius: 15px;
    margin-bottom: 0;
  }
  .icon-menu {
    position: fixed;
  }
  .menu {
    display: none !important;
    opacity: 1 !important;
  }
  .responsive-sidebar-menu .sidebar-menu-inner .menu-wrap .menu {
    display: flex !important;
  }
  .resume-area,
  .about-area {
    padding-bottom: 50px;
  }
  .about-area .about-content p {
    max-width: 100%;
  }
  .testimonial-area {
    /* padding-top: 50px; */
  }
  .section-header h1 {
    font-size: 56px;
  }
  .services-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .services-items .service-item {
    margin-bottom: 0;
    padding: 30px 30px 30px 30px;
    width: 100%;
  }
  .pricing-table-items .pricing-table .theme-btn {
    padding: 11px 40px 10px 40px;
  }
  .theme-btn {
    border-radius: 15px;
  }
  .custom-line {
    margin-bottom: 40px;
  }
  .clients-logos .col-md-3 {
    min-height: auto;
    height: 7rem;
  }
  .hero-section .hero-content h1 {
    font-size: 70px;
  }
  .hero-section .custom-container {
    padding-top: 0;
  }
  .is-video {
    opacity: 1 !important;
    padding: 15px 40px;
    background: var(--primary_color);
    box-shadow: 0 0 30px 10px rgba(160, 23, 3, 0.4) !important;
  }
  .portfolio-video {
    opacity: 0.5 !important;
  }
  .left-sidebar .social-profile li a {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 977px) {
  .blog-three-columns-main .blog-content-area .row > .col-md-4 {
    width: 50%;
  }
  .icon-menu,
  .logo-home {
    top: 1rem;
  }
  .icon-menu {
    right: 1rem;
  }
  .logo-home {
    left: 1rem;
  }
}

@media (max-width: 767px) {
  .code {
    background-image: url("code-bg-mobile.webp");
    background-position: right top;
  }
  .design {
    background-position: right top;
    background-image: url("design-bg-mobile.webp");
  }
  .creative {
    background-position: right top;
    background-image: url("creative-bg-mobile.webp");
  }
  .clients-logos .col-md-3 {
    min-height: auto;
    height: 9rem;
  }
  .custom-line {
    margin-bottom: 35px;
  }
  .logo-home {
    display: none;
  }
  .hero-section .hero-content h1 {
    font-size: 8.3vw;
    letter-spacing: -1px;
    margin-bottom: 15px;
  }

  /* .hero-section .hero-content h1 span {
    font-weight: 600 !important;
  } */
  .hero-section .hero-content .facts h2 {
    font-size: 48px !important;
    margin-bottom: 10px !important;
  }
  .facts-outer {
    justify-content: space-between;
    /* margin-right: 40px; */
  }
  .icon-menu {
    right: 30px;
    top: 30px;
  }
  .hero-section .hero-content .go-to-project-btn {
    margin-left: 0;
  }
  .skills-area .skills-content .row .col-md-3 {
    flex: 0 0 auto;
    width: 50%;
  }
  .clients-logos .row .col-md-3 {
    flex: 0 0 auto;
    width: 33.3333%;
    /* margin-bottom: 54px; */
  }
  .pricing-area {
    padding-top: 50px;
  }
  .pricing-table-items .pricing-table {
    margin-bottom: 15px;
    display: block;
    height: auto;
  }
  .pricing-table-items .pricing-table .theme-btn {
    width: 100%;
    padding: 13px 20px;
  }
  .pricing-table-items .pricing-table ul {
    margin-bottom: 50px;
  }
  .contact-area .contact-content h3 {
    margin-bottom: 50px;
  }
  .header-area .custom-container .row .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .header-area .header-right .show-menu-toggle {
    display: flex;
  }
  .header-area .header-right nav {
    position: fixed;
    right: 0;
    max-width: 350px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #1f1f1f;
    padding: 60px 40px 40px 40px;
    overflow-x: hidden;
    top: 0;
    margin-right: -300px;
    opacity: 0;
    visibility: hidden;
  }
  .header-area .header-right nav.active {
    opacity: 1;
    margin-right: 0;
    visibility: visible;
  }
  .header-area nav .nav-menu li + li {
    margin-top: 10px;
  }
  .header-area .header-right nav .nav-menu {
    display: block;
  }
  .header-area nav .close-menu {
    display: block;
  }
  .header-area nav .nav-menu li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .header-area nav .nav-menu li a {
    flex: 1;
  }
  .header-area nav .nav-menu li .dropdown {
    position: relative;
    visibility: visible;
    opacity: 1;
    width: 100%;
    display: none;
  }
  .header-area nav .nav-menu li .dropdown li a {
    font-size: 14px;
  }
  .header-area nav .nav-menu li .dropdown li {
    margin: 0;
  }
  .header-area nav .nav-menu li .toggle-sub-dropdown,
  .header-area nav .nav-menu li .toggle-dropdown {
    display: block;
  }
  .header-area nav .nav-menu li .dropdown li .dropdown {
    padding-left: 15px;
    left: 0;
  }
  .header-area nav .nav-menu li.active > .dropdown {
    display: block;
  }
  .global-color .inner .global-color-option h2 {
    margin-bottom: 60px;
  }
  .global-color .inner .global-color-option {
    padding: 100px 50px;
  }
  .global-color .global-color-option .color-boxed {
    margin-bottom: 50px;
    padding-top: 10px;
  }
  .global-color .inner .global-color-option .global-color-option-inner .themes {
    padding-top: 10px;
  }
  .global-color
    .inner
    .global-color-option
    .global-color-option-inner
    .themes
    li {
    margin-right: 40px;
    margin-bottom: 20px;
  }
  .services-items .service-item {
    width: 100%;
  }

  .blog-sidebar {
    margin-top: 50px;
  }
  .blog-three-columns-main .blog-content-area .row > .col-md-4 {
    width: 100%;
  }
  .footer-area {
    padding-bottom: 60px;
  }
  .footer-area .footer-widget-item {
    margin-bottom: 40px;
  }
  .col-md-3:last-child {
    display: none !important;
  }
  .hero-content {
    align-items: center;
  }
  .hero-container {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vw;
  }
  .hero-content {
    height: 100vh;
    padding: 100px 0;
  }
  .hero-section .hero-content .go-to-project-btn {
    width: 125px;
    height: 125px;
    margin-top: -70px;
    /* margin-left: 50px; */
  }
  .hero-section .hero-content .facts p {
    font-size: 12px;
    line-height: 20px;
  }
  .hero-text {
    margin-bottom: 10px;
    /* font-size: clamp(18px, 2.7vw, 40px); */
    font-size: 16px;
    max-width: none;
    max-width: 33.7rem;
  }
  .hero-section .hero-content .facts {
    gap: 70px;
    margin-top: 50px;
  }
  .lsb-outer {
    margin: 0 15px;
  }

  .drake-main .left-sidebar {
    padding: 20px;
  }
  .left-sidebar-inner {
    gap: 1.5rem;
    width: 100%;
    margin-bottom: 15px;
  }
  .left-sidebar .theme-btn {
    width: 100%;
  }
  .facts br {
    display: block !important;
  }

  .left-sidebar-inner div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  .left-sidebar-inner h2 {
    font-size: 5vw;
    margin-bottom: 0;
    text-align: left;
    align-items: flex-start;
  }
  .testimonial-item .testimonial-item-inner > p {
    font-size: 16px;
  }

  .left-sidebar img.me {
    width: 45%;
  }
  .address {
    margin-bottom: 10px !important;
  }

  .left-sidebar .social-profile {
    margin: 15px 0 0 0 !important;
  }
  .services-items .service-item i {
    position: static;
    align-self: center;
    opacity: 1;
    min-height: 120px;
    margin-bottom: 0 !important;
    color: white;
  }
  .services-items .service-item p,
  .services-items .service-item .projects {
    max-width: 30rem;
  }
  .services-items .service-item .projects {
    font-weight: 700;
    font-size: 1.7vw;
  }
  .services-items .service-item {
    min-height: 450px;
    text-align: center !important;
    align-items: center;
    padding: 60px;
  }
  .testimonial-item-inner {
    padding: 40px !important;
  }
  .section-header h1 {
    font-size: 6.5vw;
  }
  .services-items .service-item h2 {
    font-size: 5vw;
    font-weight: 500;
  }
  .clients-logos img {
    opacity: 0.9 !important;
  }
}
@media (max-width: 584px) {
  .portfolio-video {
    opacity: 1 !important;
  }
  .portfolio-link {
    margin-bottom: 100px;
  }
  .portfolio-area {
    padding: 0;
  }
  .custom-container {
    padding: 60px 30px;
  }
  .is-video {
    top: unset;
    left: unset;
    transform: unset;
    width: 100% !important;
    margin-top: 10px;
    color: #ffffff;
    cursor: pointer;
    background: var(--primary_color-dull);
    box-shadow: 0 0 30px 10px rgba(160, 23, 3, 0.2);
  }
  .clients-logos .col-md-3 {
    min-height: 7rem;
    height: 7rem;
  }
  .client-row {
    /* --bs-gutter-x: 3rem; */
  }
  .mobile-line {
    /* display: block; */
    height: 1px;
    width: 100%;
    background-color: rgb(47, 47, 47);
    margin: 15px 0 30px 0;
  }
  .custom-line {
    display: none !important;
  }
  .custom-line {
    margin-bottom: 30px;
    margin-top: 15px;
    background-color: transparent;
    isolation: isolate;
  }
  .testimonial-item-inner {
    padding: 30px !important;
    min-height: 530px !important;
  }
  .testimonial-item .testimonial-item-inner > p {
    margin-bottom: 25px;
  }
  .testimonial-footer-nav {
    margin-top: 30px !important;
    position: absolute;
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100vw;
    left: 0;
  }
  .testimonial-nav {
    position: absolute;
    top: -350px;
    z-index: 5;
    margin-left: -25px;
    padding-right: 12px;
    justify-content: space-between;
    width: 100vw;
    left: 0;
  }
  #testimonial-slide-count {
    display: none;
  }
  .hero-section .hero-content .go-to-project-btn {
    margin-top: -120px;
  }
  .next,
  .prev {
    width: 35px !important;
    height: 35px !important;
  }
  .services-items .service-item i {
    min-height: 150px;
    display: flex;
    align-content: center;
    align-items: center;
  }
  .services-items .service-item p,
  .services-items .service-item .projects {
    max-width: 100%;
  }
  .services-items .service-item {
    min-height: auto;
    padding: 0 30px 40px 30px;
  }
  .hero-section .hero-content .go-to-project-btn {
    width: 100px;
    height: 100px;
    /* margin-left: 25px; */
  }
  .facts div {
    width: 125px;
    max-width: 150px;
  }
  .is-video {
    font-size: 14px;
    width: 15rem;
  }
  .services-items .service-item .projects {
    font-size: 10px;
  }
  .services-items .service-item .projects br {
    display: none;
  }
  .lsb-outer {
    margin: 30px 15px 0px 15px;
  }
  .custom-container {
    /* padding: 0 15px; */
  }
  .hero-section .hero-content .facts p {
    font-size: 12px;
    /* line-height: 18px; */
  }
  .subtitle {
    margin-bottom: 40px;
  }
  .section-header h1 {
    font-size: 8.5vw;
    line-height: 1.2;
    margin-bottom: 30px;
    color: white;
  }
  .section-header h1 span {
    opacity: 1;
  }
  .body {
    background-color: #141414;
  }
  #black-mobile-overlay {
    background-color: #c1a2a6;
  }
  .section-header h1 br {
    display: block;
  }
  .services-items .service-item h2 {
    font-size: 7vw;
  }
  .submit-btn-wrap {
    margin-top: 0 !important;
  }
  .skills-area,
  .services-area,
  .resume-area,
  .about-area,
  .hero-section {
    padding-bottom: 0;
  }
  .hero-section .hero-content h1 {
    /* font-size: 11vw; */
  }
  .hero-section .hero-content .facts h2 {
    font-size: 10vw !important;
  }
  /*.hero-section .hero-content .facts p br {*/
  /*    display: none;*/
  /*}*/
  .hero-section .hero-content .facts {
    gap: 50px;
    margin-top: 0;
  }
  .texture-cover {
    background-blend-mode: normal;
    opacity: 1;
    filter: brightness(0.2);
  }
  .hero-container {
    gap: 0;
  }
  .resume-area .resume-content .resume-timeline .item {
    padding-left: 50px;
  }
  .services-items {
    grid-template-columns: 1fr;
  }
  /* .portfolio-area {
    padding-top: 40px; */
  /* } */
  .clients-logos .row .col-md-3 {
    /* width: 50%; */
  }
  .contact-area {
    padding-bottom: 80px;
  }

  .breadcrumb-area .breadcrumb-content h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .comments-area .comments .comments-list .comment-item .comment-body {
    gap: 15px;
  }
  .comments-area
    .comments
    .comments-list
    .comment-item
    .comment-body
    .comment-avatar {
    width: 60px;
    height: 60px;
  }
  .comments-area
    .comments
    .comments-list
    .comment-item
    .comment-body
    .comment-content
    h4 {
    margin-bottom: 15px;
  }
  .comments-area .comments .children {
    padding-left: 40px;
  }

  .icon-menu {
    right: 1rem;
    top: 1rem;
  }
  .hero-text {
    font-size: 16px;
    width: 100%;
    max-width: 28rem;
  }
  .facts-text {
    margin-bottom: 10px !important;
  }

  .left-sidebar-inner {
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: ; */
  }

  .left-sidebar-inner div {
    justify-content: center;
    align-items: center;
  }

  .left-sidebar-inner h2 {
    text-align: center;
    font-size: 7vw;
  }

  .address {
    font-weight: 600 !important;
  }

  .copyright {
    font-size: 2.5vw !important;
    text-align: center !important;
  }
  .left-sidebar .social-profile li a {
    width: 10vw;
    height: 10vw;
    font-size: 4vw;
    margin-bottom: 30px !important;
    margin-top: 15px !important;
  }

  .left-sidebar img.me {
    width: 100%;
    max-width: 350px;
    border-radius: 0;
  }
  .contact-area .contact-content .contact-form .input-group {
    margin-bottom: 20px !important;
  }
  .is-video {
    border-radius: 10px !important;
  }
  .contact-area .contact-content .contact-form .input-group input {
    font-size: 16px !important;
  }
}
@media (max-width: 425px) {
  .contact-area .contact-content .contact-form .input-group input {
    font-size: 14px !important;
  }
  .comments-area
    .comments
    .comments-list
    .comment-item
    .comment-body
    .comment-content
    h4 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .comments-area
    .comments
    .comments-list
    .comment-item
    .comment-body
    .comment-content
    h4
    .date {
    margin-left: 26px;
    margin-top: 10px;
  }
  .hero-section .hero-content .facts {
    gap: 30px;
    margin-top: 30px;
  }
  .hero-section .hero-content .go-to-project-btn {
    position: absolute;
    right: 0;
  }
  .hero-text {
    margin-bottom: 0;
    max-width: 22rem;
    font-size: 4vw;
    line-height: 1.6;
  }
  .hero-content {
    /* padding: 0; */
    padding-top: 10px;
    padding-bottom: 60px;
  }
  .hero-section .hero-content h1 {
    line-height: 1.1;
    font-size: 13.7vw;
    margin-bottom: 10px;
  }
  .drake-main .left-sidebar {
    padding: 0 0 20px 0;
  }
  .theme-btn {
    /* border-radius: 20px !important; */
    padding: 11px 40px 10px 40px;
  }
  .left-sidebar .theme-btn {
    /* margin: 0 30px; */
    width: 90%;
  }
  .left-sidebar h2 {
    font-size: 8.9vw;
  }
  .copyright {
    font-size: 2.9vw !important;
  }
  .left-sidebar .social-profile li a {
    width: max(35px, 11vw); /* Ensures at least 35px */
    height: max(35px, 11vw);
    min-width: 35px;
    min-height: 35px;
    font-size: 5vw;
    margin-bottom: 20px !important;
    margin-top: 5px !important;
  }
  .services-items .service-item i {
    font-size: 80px;
    /* min-height: 200px; */
  }
  .services-items .service-item {
    padding: 0 20px 50px 20px;
  }
  .custom-line {
    margin-bottom: 25px;
    margin-top: 15px;
  }
  .clients-logos .col-md-3 {
    width: 50% !important;
    min-height: 6rem;
    /* height: 6rem; */
  }
  .hero-section .hero-content .go-to-project-btn {
    margin-right: 0;
    /* width: 75px;
    height: 75px; */
    margin-top: -8vh;
  }
  .hero-section .hero-content .go-to-project-btn i {
    /* width: 60% !important; */
    font-size: 20px;
  }
  .hero-section .hero-content .facts h2 {
    margin-bottom: 0 !important;
  }
  .hero-section .hero-content .facts p {
    font-size: 10px;
    line-height: 16px;
  }
  .hero-section .hero-content br {
    display: none;
  }
  .client-row {
    --bs-gutter-x: 25px;
  }
  .col-md-3:last-child {
    display: block !important;
  }
  .services-items .service-item p {
    font-size: clamp(4vw, 14px, 9999px);
  }
  .testimonial-item .testimonial-item-inner > p {
    font-size: clamp(4vw, 14px, 9999px);
    margin-bottom: 20px;
    line-height: 1.6;
  }
  .testimonial-item-inner {
    min-height: 610px !important;
    padding: 20px !important;
  }
  .contact-area {
    padding-bottom: 0;
  }
  .services-items .service-item h2 {
    font-size: clamp(7vw, 28px, 9999px);
  }
  .services-items .service-item i {
    min-height: 120px;
  }
  .is-video {
    font-size: 12px;
    width: 12rem;
    padding: 10px 20px;
    margin-top: 15px;
  }
  .is-video img {
    width: 8px !important;
    height: 8px !important;
  }
  .section-header h1 {
    font-size: 9vw;
    line-height: 1.2;
  }
  .hero-container {
    /* justify-content: space-between; */
    /* gap: 15vw; */
  }
  .portfolio-area {
    padding: 0;
  }
  .custom-container {
    padding: 60px 15px;
  }
  .facts-outer {
    margin-bottom: 50px;
  }
  .left-sidebar img.me {
    max-width: none;
  }
  .contact-content h1 {
    font-size: 9.5vw;
  }
  .testimonial-area {
    padding: 0 15px;
    margin: 0 auto;
  }
  /* .testimonial-footer-nav {
  }
  .testimonial-nav {
    margin-left: -15px;
    padding-right: 3.5px;
  } */
  .submit-btn-wrap .theme-btn {
    width: 100%;
  }
}
